HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

mvnw
mvnw.cmd
.gitattributes

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

###vue###
# Logs
xcto-ui/logs
xcto-ui/*.log
xcto-ui/npm-debug.log*
xcto-ui/yarn-debug.log*
xcto-ui/yarn-error.log*
xcto-ui/pnpm-debug.log*
xcto-ui/lerna-debug.log*

xcto-ui/node_modules
xcto-ui/.DS_Store
xcto-ui/dist
xcto-ui/dist-ssr
xcto-ui/coverage
xcto-ui/*.local

# Editor directories and files
xcto-ui/.vscode/*
xcto-ui/!.vscode/extensions.json
xcto-ui/.idea
xcto-ui/*.suo
xcto-ui/*.ntvs*
xcto-ui/*.njsproj
xcto-ui/*.sln
xcto-ui/*.sw?

xcto-ui/*.tsbuildinfo

xcto-ui/.eslintcache

# Cypress
xcto-ui/cypress/videos/
xcto-ui/cypress/screenshots/

# Vitest
xcto-ui/__screenshots__/

# Vite
xcto-ui/*.timestamp-*-*.mjs

