<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.bexerlmao.xcto.chaoxingClass.mapper.ChaoxingClassMapper">

    <select id="getAllClasses" resultType="cc.bexerlmao.xcto.chaoxingClass.pojo.ChaoxingClassBo">
        SELECT id, class_id AS classId, class_name AS className, question_total AS questionTotal
        FROM chaoxingclass
        ORDER BY class_id
    </select>

    <insert id="insertClass" parameterType="map">
        INSERT INTO chaoxingclass(class_id, class_name, question_total)
        values (#{classId}, #{className}, 0)
    </insert>

    <select id="getClassQuestionTotalById" parameterType="Long" resultType="Long">
        SELECT question_total FROM chaoxingclass WHERE id = #{id}
    </select>

    <select id="getClassQuestionTotalByClassId" parameterType="Long" resultType="Long">
        SELECT question_total FROM chaoxingclass WHERE class_id = #{classId}
    </select>

    <update id="updateClassTotalByClassId" parameterType="map">
        UPDATE chaoxingclass SET question_total = #{total} WHERE class_id = #{classId}
    </update>
</mapper>
